/* Sidebar Styles */
.sidebar {
    width: 250px;
    background-color: var(--midnight-violet);
    color: white;
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .market-indices {
    margin-top: 20px;
  }
  
  .market-indices p {
    font-size: 14px;
    margin: 10px 0;
    color: #e0e0e0; /* Light gray for text on dark background */
  }
  
  .watchlist {
    margin-top: 20px;
  }
  
  .watchlist h3 {
    margin-bottom: 10px;
    color: var(--celadon); /* Accent color for headings */
  }
  
  .watchlist ul {
    list-style-type: none;
    padding: 0;
  }
  
  .watchlist ul li {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    font-size: 14px;
    color: white;
    border-bottom: 1px solid rgba(255,255,255,0.1);
  }
  
  .watchlist-switcher {
    margin-top: 20px;
  }
  
  #watchlist-select {
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    border-radius: 4px;
    border: 1px solid var(--coffee-bean);
    background-color: #f5f5f5;
  }
  
  .add-watchlist-btn {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    background-color: var(--dark-cyan);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    transition: background-color 0.2s;
  }

  .add-watchlist-btn:hover {
      background-color: #3d6064; /* Darker cyan */
  }
  